body {
  background-color: gold;
  color: green;
}

p {
  font-size: 1rem;
}

.reverse {
  background-color: green;
  color: gold;
}

.bigOrangeText {
  color: orange;
  background: black;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: small;
}